body {
  background-color: rgb(201, 201, 201);
}
.principal {
    margin-top: 50px;
    /*border: 2px solid;*/
    border-radius: 15px;
    padding: 40px 15px;
    background-color: rgb(201, 201, 201);
}

th {
  background-color: rgb(69, 213, 16);
}

.subtitulo{
  font-size: 1.5em;
}


#tabla-listado {
  margin-top: 20px;
}

.nopagado {
  background-color: rgb(235, 52, 52);
  color: white;
}
.form-pagos {
    padding-left: 0;
}
.form-pagos + .form-pagos {
    padding-right: 0;
}

.form-pagos span {
  width: 6em;
}
.form-pagos .input-group{
  margin-top: 20px;
}

.form-pagos .input-group + button {
  margin-top: 20px;
    float: right;
}

.enviar {
  position: relative;
  bottom: 200px;

}

/**********************
++++FORMULARIO LOGIN+++
**********************/
.loginUserForm{
  padding: 1em;
}
#loginUserForm .input-group{
  margin-top: 1em;
  width: 100%;

}

#loginUserForm .input-group + .input-group   {
  margin: 2em 0;
  width: 100%;
}

#loginUserForm button {
  width: 100%;
  margin: 1em 0;
}
#loginUserForm img {
  width: 80%;
  margin: 0 10%;
}


/****************
FORMULARIOS HOME
***************/
.buscarPorNombre .form-control, .buscarPorNombre button {
  width: 50%;
  margin: 20px 0 5px 20px;
}
#seleccionar-mes .form-control {
  width: 50%;
}
#seleccionar-mes{
  /*display: none; AKII*/

}

#seleccionar-mes input, label{
  /*display: none;*/
  margin: 10px 0 0 20px;
}

#seleccionar-mes .buscar {
  margin: 25px 0 0 20px;
  width: 50%;
}

#fecha-fin {
  margin-bottom: 100px;
}

#otro-mes {
  display: inline;
}



/***********
COMUN FORMULARIOS
*********/
.miboton {
  padding: 5px;
}
