body {
  background-color: rgb(201, 201, 201);
}
.principal {
    margin-top: 50px;
    border-radius: 15px;
    padding: 40px 15px;
    background-color: rgb(201, 201, 201);
}

th {
  background-color: rgb(69, 213, 16);
}

.subtitulo{
  font-size: 1.5em;
}


#tabla-listado {
  margin-top: 20px;
}

.nopagado {
  background-color: rgb(235, 52, 52);
  color: white;
}
.form-pagos {
    padding-left: 0;
}
.form-pagos + .form-pagos {
    padding-right: 0;
}

.form-pagos span {
  width: 6em;
}
.form-pagos .input-group{
  margin-top: 20px;
}

.form-pagos .input-group + button {
  margin-top: 20px;
    float: right;
}

.enviar {
  position: relative;
  bottom: 200px;

}

/**********************
++++FORMULARIO LOGIN+++
**********************/
.loginUserForm{
  padding: 1em;
}
#loginUserForm .input-group{
  margin-top: 1em;
  width: 100%;

}

#loginUserForm .input-group + .input-group   {
  margin: 2em 0;
  width: 100%;
}

#loginUserForm button {
  width: 100%;
  margin: 1em 0;
}
#loginUserForm img {
  width: 80%;
  margin: 0 10%;
}


/****************
FORMULARIOS HOME
***************/
.buscarPorNombre .form-control, .buscarPorNombre button {
  width: 50%;
  margin: 20px 0 5px 20px;
}
#seleccionar-mes .input-group {
  width: 50%;
  padding-top: 10px;
}

#seleccionar-mes .input-group + .input-group{
  padding: 10px 0;
}

#seleccionar-mes .input-group{
  /*display: none;*/
  margin: 10px 0 0 20px;
}
.form-group h4 {
  margin: 20px 0 0 20px;

}

#seleccionar-mes .buscar {
  margin: 25px 0 0 20px;
  width: 50%;
}



#otro-mes {
  display: inline;
}

/***************
HISTORICO MULTAS
***************/
.btnBuscarOtro button {
  margin-bottom: 20px;
}

.noborde{
  border:0px white;
}


/***********
COMUN FORMULARIOS
*********/
.miboton {
  padding: 5px;
}
textarea, select{
  width: 100%;
}
.input-group select {
  width: 100%;
}


/*****************
OTROS ELEMENTOS COMUNES
*******************/
.menu-sesion {
  float: right;
}
.menu-principal {
  border-bottom: 2px solid;
  margin-bottom: 15px;
}
.menu-principal ul{

  list-style-type: none;

}
.menu-principal ul li{
  display: inline-block;
}
.cierre {
  clear: both;
}


.confirmarEliminar {
  background-color: white;
  min-width: 300px;
  min-height: 250px;
  position: absolute;
  top: 30%;
  left: 35%;
  padding: 20px;
  border: 2px solid black;
}
