<form name="loginUserForm">
    <fieldset>
      <h3>Introduce tus datos de usuario</h3>
        <div class="input-group">
          <div ng-bind-html="resultadoLogin" ng-show="resultadoLogin != null"></div>
            <div class="input-group">
                <label>Usuario</label>
                <input type="text" required placeholder="Introduce tu usuario" ng-model="loginEmail">
            </div>
            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" required placeholder="Introduce tu password" ng-model="loginPassword">
            </div>

            <button type="submit" ng-disabled="!loginUserForm.$valid" ng-click="comprobarUsuario()" class="button expand round">Entrar</button>
        </div>
    </fieldset>
</form>
