<form id="loginUserForm" name="loginUserForm">
    <div class="loginUserForm col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 thumbnail">

          <img src="./img/logo.png"/>
          <div class="input-group">
            <div ng-bind-html="resultadoLogin" ng-show="resultadoLogin != null"></div>
              <div class="input-group">
                  <span class="input-group-addon">Email</span>
                  <input type="text" class="form-control" required placeholder="Introduce tu usuario" ng-model="loginEmail">
              </div>
              <div class="input-group">
                  <span class="input-group-addon">Password</span>
                  <input type="password" class="form-control" required placeholder="Introduce tu password" ng-model="loginPassword">
              </div>

              <button type="button" ng-disabled="!loginUserForm.$valid" ng-click="comprobarUsuario()" class="btn btn-primary">Entrar</button>
          </div>

      </div>
  </form>
